[Desktop Entry]
Version=1.0
Type=Application
Name=Web Tarayıcısı
GenericName=Web Browser
Comment=Güvenli web tarayıcısı
Exec=epiphany %u
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
