[Desktop Entry]
Version=1.0
Type=Application
Name=Sistem İzleme
GenericName=System Monitor
Comment=Sistem kaynaklarını izleyin
Exec=lxtask
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
StartupNotify=true
