[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=Komut satırı terminali
Exec=gnome-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
