Source: safebox
Section: utils
Priority: optional
Maintainer: Mehmet Akif Şahin <mehmetakifsahin500@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/winexee/safebox

Package: safebox
Architecture: all
Depends: ${misc:Depends},
         bubblewrap,
         xserver-xephyr,
         dbus-x11,
         python3,
         python3-gi,
         gir1.2-gtk-3.0,
         xfwm4,
         xfdesktop4,
         thunar,
         mousepad,
         xfce4-terminal,
         mate-system-monitor,
         tint2,
         rofi,
         epiphany-browser,
         feh,
         hsetroot,
         yaru-theme-icon,
         yaru-theme-gtk
Description: Guvenli ve tam izole sanal masaustu ortami
 SafeBox; Bubblewrap, XFCE4 ve Xephyr altyapisini birlestirerek 
 tam donanim izolasyonlu (CPU/RAM/Hostname/Passwd) ve izole 
 bir masaustu ortami sunar.
